<div class="container">
    <h3>{{site.sec31}}</h3>
    <p>{{site.sec32}}</p>
    <div class="features">
        <article>
            <a href="#" class="image"><img src="../assets/images/pic01.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec33}}</h4>
                <p>{{site.sec34}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec35}}</h4>
                <p>{{site.sec36}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec37}}</h4>
                <p>{{site.sec38}}</p>
            </div>
        </article>
    </div>
</div>
