<div class="container">
    <h3>{{site.sec51}}</h3>
    <div class="features">
            <article>
                <div class="inner">
                    <p>{{site.sec52}}</p>
                </div>
            </article>
            <article>
                <div class="inner">
                    <p>{{site.sec53}}</p>
                </div>
            </article>
            <article>
                <div class="inner">
                    <p>{{site.sec54}}</p>
                </div>
            </article>
        </div>  
</div>
