<div class="container">
    <h3>{{site.sec31}}</h3>
    <!-- <p>{{site.sec32}}</p> -->
    <div class="features">
        <article>
            <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
            <div class="inner">

                <h4>{{site.sec33}}</h4>
                <p>{{site.sec34}}</p>
                <p>{{site.sec341}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec35}}</h4>
                <p>{{site.sec36}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec37}}</h4>
                <p>"目标： 获取甲方需求。 行动： 约见甲方，了解应用场景以及现有流程，确定产品在对方工作流程中所处的环节以及作用，深入了解甲方需求，完成需求文档初稿 结果： 与技术人员沟通，将占用人力较多的功能标注，再次回访甲方。目标： 提交项目方案。 合作： 与技术总监沟通，确定开发周期与人力成本，并对项目中可能发生的问题做预估。 行动： 根据甲方实际需求绘制系统框架图、流程图、界面原型，输出项目方案（31页，8164字）。 结果： 方案在规定期限内完成，并受到甲方好评。"</p>
            </div>
        </article>
    </div>  
</div>
