<div class="container">
    <h3>{{site.sec31}}</h3>
    <!-- <p>{{site.sec32}}</p> -->
    <div class="features">
        <article>
            <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
            <div class="inner">

                <h4>{{site.sec33}}</h4>
                <p><strong>目标：</strong> 获取用户需求 <strong>行动：</strong> 蹲点观察中原区23个楼盘的销售流程，并随机采访13个楼盘的销售经理了解需求。独立完成数据分析并形成用户需求分析报告。 <strong>结果：</strong> 60%的用户需求最终转化为实际项目（6/10）。
<br>
<strong>目标：</strong> 按需求完成系统交互原型 <strong>合作：</strong> 与UI设计师合作完成预览图 <strong>行动：</strong> 基于用户调研的结果，使用balsamiq完成系统功能的原型设计，与UI设计师合作完成预览图，输出PRD文档（30页，10112字）。 <strong>结果：</strong> PRD在规定时间内通过评审。</p>
<!--                 <p>{{site.sec34}}</p>
                <p>{{site.sec341}}</p> -->
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec35}}</h4>
                <p>{{site.sec36}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="assets/images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec37}}</h4>
                <p>{{site.sec38}}</p>
            </div>
        </article>
    </div>
</div>


